@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  min-height: 100vh;
  background: #04041d;
  overflow: hidden;
}
.god-rays {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  --stripes: repeating-linear-gradient(
    100deg,
    rgba(20, 40, 60, 0.8) 0%,
    rgba(20, 40, 60, 0.8) 7%,
    transparent 10%,
    transparent 12%,
    rgba(20, 40, 60, 0.8) 16%
  );
  --rays: repeating-linear-gradient(
    100deg,
    rgba(30, 50, 90, 0.9) 10%,
    rgba(20, 40, 80, 0.9) 15%,
    rgba(30, 50, 90, 0.9) 20%,
    rgba(20, 40, 80, 0.9) 25%,
    rgba(30, 50, 90, 0.9) 30%
  );
  background-image: var(--stripes), var(--rays);
  background-size: 300%, 200%;
  background-position:
    50% 50%,
    50% 50%;
  animation: 2s fadeIn;
  mask-image: radial-gradient(ellipse at 100% 0%, rgba(255, 255, 255, 0) 40%, transparent 70%);
  -webkit-mask-image: radial-gradient(ellipse at 100% 0%, white 40%, transparent 70%);
  pointer-events: none;
  z-index: -1;
}
.god-rays::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rays);
  background-size: 200%, 100%;
  animation: 40s linear infinite god-rays;
  background-attachment: fixed;
  mix-blend-mode: difference;
}
.sidebar {
  position: fixed;
  width: 270px;
  top: 16px;
  margin-right: 16px;
  margin-left: 8px;
  border-radius: 16px;
  background: #151a2d;
  height: calc(100vh - 32px);
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar.collapsed {
  width: 85px;
}
.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}
.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  color: #151a2d;
  border: none;
  cursor: pointer;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s;
}
.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}
.sidebar-header .menu-toggler {
  display: none;
}
.sidebar.collapsed .sidebar-header .toggler {
  transform: translate(-4px, 65px);
}
.sidebar-header .toggler:hover {
  background: #dde4fb;
}
.sidebar-header .toggler span {
  font-size: 1.75rem;
  transition: 0.4s;
}
.sidebar.collapsed .sidebar-header .toggler span {
  transform: rotate(180deg);
}
.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s;
}
.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}
.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 12px 15px;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
}
.sidebar.collapsed .sidebar-nav .nav-link {
  border-radius: 12px;
}
.sidebar .sidebar-nav .nav-link .nav-label {
  transition: opacity 0.3s;
}
.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}
.sidebar-nav .nav-link:hover {
  color: #151a2d;
  background: #fff;
}
.sidebar-nav .nav-item {
  position: relative;
}
.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  color: #151a2d;
  display: none;
  pointer-events: none;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  background: #fff;
  left: calc(100% + 25px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: none;
}
.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}
.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: 0.4s;
}
.sidebar-nav .secondary-nav {
  width: 100%;
  position: absolute;
  bottom: 30px;
}
@media (max-width: 1024px) {
  body {
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    margin: 0;
    overflow: hidden;
    scrollbar-width: none;
    width: 100%;
    max-height: 56px;
    transition: max-height 0.4s;
    z-index: 1000;
    border-radius: 0;
  }
  .sidebar.mobile-hidden {
    max-height: 56px;
  }
  .sidebar.mobile-visible {
    max-height: 100vh;
    overflow-y: auto;
  }
  .sidebar .sidebar-header {
    position: sticky;
    top: 0;
    z-index: 20;
    border-radius: 0;
    background: #151a2d;
    padding: 8px 10px;
  }
  .sidebar-header .header-logo img {
    width: 40px;
    height: 40px;
  }
  .sidebar-header .sidebar-toggler,
  .sidebar-nav .nav-item:hover .nav-tooltip {
    display: none;
  }
  .sidebar-header .menu-toggler {
    display: flex;
    height: 30px;
    width: 30px;
  }
  .sidebar-header .menu-toggler span {
    font-size: 1.3rem;
  }
  .sidebar .sidebar-nav .nav-list {
    padding: 0 10px;
  }
  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 0.94rem;
  }
  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.37rem;
  }
  .sidebar-nav .secondary-nav {
    position: relative;
    bottom: 0;
    margin: 40px 0 30px;
  }
  .main-content {
    position: fixed !important;
    top: 56px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw !important;
    height: calc(100vh - 56px) !important;
    border-radius: 0 !important;
    transition: none;
    overflow: hidden;
    background: #151a2d;
  }
  .mainiframe-container {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  iframe {
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
}
.main-content {
  background: #151a2d;
  height: calc(100vh - 32px);
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 101px;
  width: calc(100% - 101px);
  border-radius: 16px;
  transition:
    margin-left 0.4s,
    width 0.4s;
}
.main-content.sidebar-expanded {
  margin-left: 290px;
  width: calc(100% - 290px);
}
.mainiframe-container {
  width: 90%;
  height: 90%;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 100;
  border-radius: 16px;
}
.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2 !important;
  pointer-events: none;
  opacity: 0.2;
}
.particle {
  position: fixed;
  width: 3px;
  height: 3px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: 8s ease-in-out infinite floatParticle;
  opacity: 0.1;
  border: 1px solid #add8e6;
}
@keyframes floatParticle {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(50px, -100px);
    opacity: 0.6;
  }
  100% {
    transform: translate(-30px, -200px);
    opacity: 0;
  }
}
.sidebar-nav .nav-link.active {
  color: #151a2d;
  background: #fff;
}
.widget {
  position: absolute;
  bottom: 30px;
  right: 16px;
  z-index: 200;
}
.widget-button {
  height: 40px;
  width: 40px;
  color: #151a2d;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.widget-button:hover {
  background: #dde4fb;
}
.widget-button span {
  font-size: 1.5rem;
}
.widget-popup {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 0;
  background: #151a2d;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  width: 120px;
}
.widget-popup.show {
  display: flex;
  overflow: hidden;
}
.widget-option {
  background: 0 0;
  border: none;
  color: #fff;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
}
.widget-option:hover {
  background: #fff;
  color: #151a2d;
}
#cloakFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media (min-width: 1025px) {
  .sidebar.mobile-hidden,
  .sidebar.mobile-visible {
    max-height: none !important;
  }
}
